li{cursor:pointer}
body {
    background-color:#53565A;
    
}
#portfolioimage {
    max-width: 350px;
    max-height: 350px;
    padding: 5%;
 
}

#container {
    color:#981E32; 
}
body {
    color: white;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#cougs {
    color: white;
    margin: auto;
}